*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy'; 
}
html{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    height: 100px;
    width: 100%;
   /* background-color: rgb(141, 97, 183); */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 0 30px;
}
#nav h4{
    font-size: 20px;
    font-weight: 600;
}
#nav i{
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
}
#center{
    width: 100%;
  /*  background-color: rgb(118, 180, 159); */
    padding: 40px 80px;
}
#center h1{
    font-size: 80px;
    font-weight: 500;
    line-height: 80px;
}
#center-in{
  /*  background-color: rgb(133, 133, 178); */
    height: 150px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content:space-between ;
}
#center-in p{
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}
#right{
    width: 20%;
}
.elem{
  /*  background-color: aqua;*/
   /* margin: 5px; */
    padding: 20px 0;
    height:20% ;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
.elem i{
    font-size: 25px;
    font-weight:500 ;
    opacity: 0;
}
.elem a{
    color: black; 
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.elem:hover i{
    opacity: 1;
}
.elem:hover{
    background-color: rgb(209, 195, 195);
}
.elem:hover{
    text-decoration: underline;
}
#bottom{
    background-color: rgb(17, 135, 96);
   padding-top: 20%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1552944150-6dd1180e5999?q=80&w=1450&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    
   background-position: 0 30%;
}